
# Prerequisites


# Compiled Object files

# Precompiled Headers


# Compiled Dynamic libraries
/Temporary/bin
/Temporary/obj

# Fortran module files


# Compiled Static libraries


# Executables


/Temporary/*.json
.vs

